@light-blue: #d9ebff;
@medium-blue: #007bff;
@dark-blue:#164c8a;
@navy-blue: #00254f;
@gray: #f8f9fa;
@secondary-gray: #6c757d;
@accent-color: #ffb3b3;

@heading-font: 'Merriweather', serif;
@body-font: 'Open Sans', sans-serif;

.coloring{
    background-color: @light-blue;
    color:@navy-blue;
}

body {
  font-family: @body-font;
  .coloring();
  margin: 0;
  padding: 0;
}


h1, h2, h3 {
  font-family: @heading-font;
}

nav{
    .navbar-nav{
        a{
            color:@medium-blue;
        }
    }
    .navbar-brand{
        color:@navy-blue;
        &:hover {
            color: darken(@dark-blue, 10%);
            text-decoration: none;
          }
    }
}

.footer {
  background-color: @light-blue;
  padding: 1rem;
  text-align: center;

  p {
    margin: 0;
    color: @secondary-gray;
  }
}

.btn {
    color:white;
    background-color: @dark-blue;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
.btn:hover{
    .coloring()
}

input:focus, select:focus, textarea:focus {
  outline: 2px solid @accent-color;
}

.table tbody tr:hover {
  background-color: lighten(@accent-color, 45%);
}

.hero-section {
  background: linear-gradient(to right, @medium-blue, @secondary-gray);
  color: #fff;
  padding: 3rem;
  text-align: center;
}

@media (max-width: 576px) {
  .display-1 {
    font-size: 2.5rem;
  }
}

.card:hover {
  border: 2px solid @accent-color;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

//Tara's part

.list-group-item{
    color: @navy-blue;
}

.container-fluid{
    gap: 20px;
}

.third{
    background-color: #9e610d;
    color: white;
}

@media(min-width:576px){
    .navbar-nav{
        width: 100%;
        justify-content: space-evenly;
    }
}

.username{
    font-weight: bold;
    font-size: clamp(0.8rem, 2vw, 1.2rem); ;
    color:@medium-blue;
}


